[Unit]
Description=Running MakeSnap every 30 min (/etc/makesnap/%I.conf).

[Timer]
OnBootSec=1
OnUnitActiveSec=30min
Unit=makesnap@.service

[Install]
WantedBy=timers.target
