[Unit]
Description=Running MakeSnap every 24 hours (/etc/makesnap/%I.conf).

[Timer]
OnBootSec=1
OnUnitActiveSec=24h
Unit=makesnap@.service

[Install]
WantedBy=timers.target
