[Unit]
Description=Running MakeSnap every 10 seconds (/etc/makesnap/%I.conf).

[Timer]
OnBootSec=1
OnUnitActiveSec=10sec
Unit=makesnap@.service

[Install]
WantedBy=timers.target
