[Unit]
Description=Running MakeSnap every 8 hours (/etc/makesnap/%I.conf).

[Timer]
OnBootSec=1
OnUnitActiveSec=8h
Unit=makesnap@.service

[Install]
WantedBy=timers.target
