[Unit]
Description=MakeSnap BtrFS snapshot daemon.

[Service]
UMask=0022
Type=simple
PIDFile=/tmp/mksnp.pid
ExecStart=/usr/bin/mksnpd

[Install]
WantedBy=multi-user.target
