[Unit]
Description=MakeSnap BtrFS snapshot daemon.

[Service]
Type=simple
PIDFile=/tmp/mksnpd.pid
ExecStart=/usr/bin/mksnpd

[Install]
WantedBy=multi-user.target
